[
  {
    "scope": "https://baas.kinvey.com:443",
    "method": "POST",
    "path": "/rpc/kid_rJQ3fa0il/custom/test",
    "body": "",
    "status": 200,
    "response": {
      "hello": "world"
    },
    "rawHeaders": [
      "openresty",
      "Wed, 11 Sep 2019 23:51:29 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "17",
      "close",
      "Express",
      "x-kinvey-request-id",
      "225a28a10d0441f7b8c0ae7d194a3683",
      "x-kinvey-api-version",
      "4",
      "x-kinvey-request-start",
      "2019-09-11T23:51:29.218Z",
      "ETag",
      "W/\"11-IkjuL6CqqtmReFMfkkvwC0sKj04\"",
      "X-Kinvey-Rate-Limit",
      "600"
    ]
  }
]